html,
body {
  margin: 0;
}

html {
  --very-dark-blue-main-bg: hsl(233, 47%, 7%);
  --dark-desaturated-blue-card-bg: hsl(244, 38%, 16%);
  --soft-violet-accent: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);

  --desktop: 48rem;
}

body {
  background-color: var(--very-dark-blue-main-bg);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lexend Deca", sans-serif;
}

main {
  background-color: var(--dark-desaturated-blue-card-bg);
  border-radius: 1rem;
  overflow: hidden;
  max-width: 90vw;
  display: grid;
  grid-template-columns: 1fr;
}

.card-img-container {
  background-color: var(--soft-violet-accent);
}

.card-img {
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}

.card-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  color: var(--slightly-transparent-white-main-paragraph);
}

.card-title {
  color: var(--white);
  margin: 0;
  margin-bottom: 1rem;
}

.card-desc {
  margin: 0;
  margin-bottom: 2rem;
}

.card-items {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
}

.card-item {
  margin-bottom: 1rem;
}

.card-item .heading {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
  color: var(--white);
}

.card-item .paragraph {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  color: var(--slightly-transparent-white-main-paragraph);
  margin: 0;
}

.card-title > span {
  color: var(--soft-violet-accent);
}

@media (min-width: 40rem) {
  main {
    grid-template-columns: 1fr 1fr;
    max-width: 1280px;
  }
  .card-img-container {
    grid-column: 2/3;
    grid-row: 1;
  }

  .card-info {
    grid-column: 1/2;
    grid-row: 1;
    text-align: left;
    padding: 4rem;
  }

  .card-desc {
    margin-bottom: 4rem;
  }

  .card-items {
    flex-flow: row nowrap;
    justify-content: flex-start;
    column-gap: 4rem;
  }
}
